<title><%= title %></title>
<%- messages() %>
<h2>Welcome <%= accountData.account_firstname %></h2>

<a href="/account/account-update/<%= accountData.account_id %>" title="Update your account information">Update Account Information</a>

<% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv/" title="Access the Inventory Management view">Manage Inventory</a></p>
<% } %>