<form id="signin-form" action="/account/registration" method="post">
    <h1><%= title %></h1>
    <label for="account_firstname">* First Name:</label>
    <input type="text" name="account_firstname" required>
    <label for="account_lastname">* Last Name:</label>
    <input type="text" name="account_lastname" required>
    <label for="account_email">* Email:</label>
    <input type="email" name="account_email" required>
    <label for="account_password">* Password:</label>
    <input type="password" name="account_password" required>
    <ul>
        <li>12 characters minimum</li>
        <li>At least 1 capital letter</li>
        <li>At least 1 number</li>
        <li>At least 1 special character</li>
    </ul>
    <input id="login" type="submit" value="REGISTER">
    <p>* required</p>
</form>
