/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/***** Wrapper Section *****/
#checker {
  display: none;
}
body {
  display: flex;
  justify-content: center;
}
#wrapper {
  position: absolute;
  display: grid;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none; /* Is this needed? */
  border-radius: 0; /* Is this needed? */
  width: 100%; /* Is this needed? */
  margin: 0; /* Is this needed? */
}
a {
  text-decoration: none;
  color: inherit;
}

/***** Header *****/
header {
  display: flex;
  width: 100%;
  align-items: center;
}
header span {
  font-size: 50px;
  padding-left: 10px;
}
header div {
  margin-left: auto;
  padding-right: 10px;
}


/***** Navigation *****/
nav {
  width: 100%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  list-style-type: none;
  padding: 0; /* Is this needed? */
}
nav ul li {
  font-size: 25px;
  padding: 10px 0 10px 0;
}

/****************************** HOME PAGE ******************************/
/***** Hero Section *****/
main h1 {
  padding-left: 10px;
}

#hero {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}
#hero img {
  z-index: 1;
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
}
#hero-message {
 z-index: 2;
 grid-column: 1/2;
 grid-row: 1;
 background-color: rgba(255, 255, 255, 0.75);
 padding: 5px 5px 5px 5px;
 align-self: center;
}
#hero-message h2, p {
  margin: 0;
}
#hero button {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  background-color: aqua;
}

/***** Features Section *****/
#features {
  display: grid;
  grid-template-columns: 1fr;
}
#features div {
  margin: 0 5% 0 5%;
}
#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#upgrades h2 {
  grid-column: 1/3;
}
.image-wrapper {
  background-color: aqua;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 0;
}
.upgrade-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reviews {
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
}
#reviews > ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#reviews > ul > li {
  flex-grow: 1;
}

/****************************** GRID PAGES ******************************/
#inv-display {
  padding: 0;
  margin: 0 3px 0 3px;
  display: grid;
}
#inv-display li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 0 3px 3px 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/****************************** DETAILS PAGE ******************************/
#vehicle-image {
  width: 90%;
}

#detail-section {
  display: grid;
  place-items: center;
}

#detail-section h2 {
  text-align: center;
}

#more-details {
  width: 90%;
}

/****************************** Signin Form ******************************/
#signin-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  border-style: outset;
  border-radius: 10px;
  background-color: rgb(19, 69, 161);
  color: white;
  padding: 15px 25px 15px 25px;
}

#signin-form input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#login {
  width: 20%;
  align-self: center;
}

#signin-form p {
  text-align: center;
}

#signin-form p a {
  text-decoration: underline;
}

/****************************** Management View ******************************/
#management-section {
  display: flex;
  justify-content: center;
}

#management-div {
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 90%;
  font-size: 20px;
}

#management-section ul {
  list-style-type: none;
}

#management-section li {
  margin: 10px 0 10px 0;
}

/****************************** Add Classification View ******************************/
#addClassification-section {
  display: flex;
  justify-content: center;
}

#addClassification-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  width: 90%;
}

#addClassification-section form > label, input, span {
  width: 90%;
  margin: 10px 0 10px 0;
}

#addClassification-section form > button {
  width: 50%;
  margin: 10px 0 10px 0;
}

/****************************** Add Inventory View ******************************/
#addInventory-section {
  display: flex;
  justify-content: center;
}

#addInventory-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  width: 90%;
}

#addInventory-section form > textarea, select {
  width: 90%;
  margin: 10px 0 10px 0;
}

#addInventory-section form > button {
  width: 50%;
  margin: 10px 0 10px 0;
}

/****************************** Edit Inventory View ******************************/
#editInventory-section {
  display: flex;
  justify-content: center;
}

#editInventory-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  width: 90%;
}

#editInventory-section form > textarea, select {
  width: 90%;
  margin: 10px 0 10px 0;
}

#editInventory-section form > button {
  width: 50%;
  margin: 10px 0 10px 0;
}

/****************************** FOOTER ******************************/
footer {
  padding-left: 10px;
  padding-top: 25px;
}

/*********************************** Larger Views ***********************************/
@media (min-width: 641px) {
#checker {
  display: block;
}
#wrapper {
  border: 3px solid blue;
  border-radius: 10px;
  width: 75%;
  margin: 25px 0 25px 0;
}
nav {
  width: 95%;
}
nav ul {
  padding: 0 10% 0 10%;
  justify-content: space-between;
  flex-direction: row;
}

/****************************** HOME PAGE ******************************/
#hero {
  grid-template-columns: 25% 25% 25%;
}
#features {
  grid-template-columns: 1fr 1fr;
}


/****************************** GRID PAGES ******************************/
#inv-display {
  grid-template-columns: 1fr 1fr 1fr;
}

/****************************** DETAILS PAGE ******************************/
#vehicle-image {
  grid-column: 1/2;
  grid-row: 1/3;
}

#detail-section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

#detail-section h2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#more-details {
  grid-column: 2/3;
  grid-row: 2/3;
}

/****************************** Signin Form ******************************/
#signin-form {
  max-width: 60%;
}

/****************************** Management View ******************************/
#management-section li:hover {
  font-weight: bold;
}

}